* {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: conic-gradient(#553c9a 0%, #553c9a 33%, #ee4b2b 33%, #ee4b2b 66%, #00c2cb 66%, #00c2cb 99%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h3 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@media screen and (max-width: 480px) {
    h1, h2, h3 {
        font-size: 15px;
    }
  }